body {
  color: #181818;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p {
  line-height: 2;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  /* 100% = 16px*/
  font-family: 'Sacramento', cursive;
  margin-top: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
  padding-top: 30px;
}
hr {
  border: dotted #EDE4E0 5px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}


.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px; /*top (50px) left and right (0) bottom(20px)*/
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;  /*top right bottom left*/
  text-align: ccccc;
}


.btn {
  background: #34b8d9;
  background-image: -webkit-linear-gradient(top, #34b8d9, #2c33b8);
  background-image: -moz-linear-gradient(top, #34b8d9, #2c33b8);
  background-image: -ms-linear-gradient(top, #34b8d9, #2c33b8);
  background-image: -o-linear-gradient(top, #34b8d9, #2c33b8);
  background-image: linear-gradient(to bottom, #34b8d9, #2c33b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat', sans-serif;;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #50b7d9;
  background-image: -webkit-linear-gradient(top, #50b7d9, #7abede);
  background-image: -moz-linear-gradient(top, #50b7d9, #7abede);
  background-image: -ms-linear-gradient(top, #50b7d9, #7abede);
  background-image: -o-linear-gradient(top, #50b7d9, #7abede);
  background-image: linear-gradient(to bottom, #50b7d9, #7abede);
  font-size: 30px;
  text-decoration: none;

}

.contact-me-text {
  margin-bottom: 35px;
}

.footer-link {
  text-decoration: none;
  color: #11999E;
  margin:10px 20px;
}
.footer-link:hover {
  color: #ffffff;
}

.me {
  width: 30%;
  margin: auto;
}

.contact-me-text {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #ffffff;
  font-size: 0.75rem;
  padding: 20px 0; /* top and bottom (20px) left and right (0) */
}
